<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show Detail', user %></td> <!-- user: link to a user, dung controller show. Show se tu hieu :id la gia tri tham so truyen xuong cua current user -->
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    <!-- truong hop dung controller khong render html page thi phai dung method: :delete, dung data: { confirm: 'Are you sure?' } de ra thong bao confirm truoc khi xoa
      "user" la object duoc truyen xuong de controller delete thuc hien xoa
    -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
